
<launch>
    <!-- -->
    <node pkg="multi_robot" name="robot_moving" type="robot_moving" />
    <!-- <node pkg="multi_robot" name="Dijkstra" type="Dijkstra" /> -->

    <group name="multi_robot">
        <include file="$(find turtlebot_navigation)/launch/includes/gmapping.launch.xml"/>
        <include file="$(fing turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
    </group>
</launch>